<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UE4CmdLineRun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UE4Game - Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UE4Game - iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UE4XcodeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA8A87A97F953207905EFD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DB3C79F76F994FE0A529084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0F2B9613D802C986390EF91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5628470F317DFBC0AC94CF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
